@import "_shared";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: $ink;
    background-color: $canvas;
    padding: 0;
    margin: 0;
    background: #000 url(../img/halftone.png) center top repeat;
    background: url(../img/drips.png) center top repeat-x, #000 url(../img/halftone.png) center top repeat;
    &.no-scroll {
      overflow: hidden;
    }
    &.below-the-fold {
      // Whatever needs to change under the fold.
    }
    div#content {
      position: relative;
      width: 100%;
      max-width: $desktop;
      margin: 60px auto 0 auto;
      section {
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        max-width: 788px;
        margin: 0 auto;
        .header__image {
          margin: 25px 0 0 0;
          width: 100%;
          max-width: 788px;
          height: auto;
        }
        .tickets-list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          align-content: center;
          @media screen and (max-width: 700px) {
            flex-flow: column;
          }
          .ticket-list-item {
            cursor: pointer;
            flex-basis: 50%;
            a {
              overflow: hidden;
              width: 340px;
              height: 225px;
              display: inline-block;
              &:hover {
                background-position-y: -216px;
              }
            }
            .tickets {
              background-image: url(../img/tickets/tickets.png);
            }
            .download {
              background-image: url(../img/tickets/download.png);
            }
          }
        }
        .sponsors {
          &_header {
            width: 100%;
            max-width: 689px;
            height: 54px;
            margin: 20px auto 0 auto;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            &--image {
              margin: 20px 0;
              width: 100%;
              max-width: 689px;
              overflow: auto;
              padding: 0 20px;
              img {
                width: 100%;
                height: auto;
                padding: 0 20px;

              }
            }
          }
          &__title {
            &--presenting {
              margin: 20px 0 0 0;
            }
            &--patrons {
              margin: 30px 0 0 0;
            }
          }
          &__presenting-sponsor {
            margin: 30px 0 0 0;
          }
        }
        .sponsor-list {
          list-style: none;
          padding: 0;
          margin: 30px 0 0 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          li {
            flex-basis: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 10px;
          }
        }
      }
    }
    div#overlay {
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 100;
      #overlayContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      a.overlay__close {
        text-indent: -10000px;
        position: absolute;
        top: 20px;
        left: 20px;
        @include media-tablet-portrait {
          top: 40px;
          left: auto;
        }
        display: block;
        width: 40px;
        height: 40px;
        background: url(../img/close-x.svg);
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 88px;
      background: url(../img/footer/candles.png) left top repeat-x;
    }
  }
}