footer {
  width: 100%;
  color: white;
  font-size: 0.8rem;
  line-height: 20px;
  .footer {
    &__container {
      font-weight: bold;
      text-transform: uppercase;
      @include media-desktop {
        max-width: $desktop;
        margin: 0 auto;
      }
    }
    &__image{
      width: 100%;
      max-width: 740px;
      height: auto;
    }
    &-lockup{
      width: 100%;
      max-width: 678px;
      margin: 20px auto 70px auto;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      &--drinks{
        margin: 20px 0;
        width: 100%;
        max-width: 509px;
        overflow: auto;
        padding: 0 20px;
        img{
          width: 100%;
          height: auto;
          padding: 0 20px;

        }
      }

    }
  }
}