$canvas: #000000;
$ink: #ffffff;

$xl: 1034px;
$desktop: 980px;
$tabPort: 768px;
$sm: 767px;
$xs: 480px;

@mixin media-xl(){
  @media only screen and (min-width: $xl){
    @content;
  }
}
@mixin media-desktop(){
  @media only screen and (min-width: $desktop){
    @content;
  }
}
@mixin media-tablet-portrait(){
  @media only screen and (min-width: $tabPort){
    @content;
  }
}
@mixin media-small(){
  @media only screen and (min-width: $sm){
    @content;
  }
}
@mixin media-mobile(){
  @media only screen and (min-width: $xs){
    @content;
  }
}

.hidden{
  display: none;
}

.bold{
  font-weight: 700;
}

.suppressed{
  display: inline-block;
  overflow:hidden;
  height: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  margin-left: -9999px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */